*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Aplicamos un fondo a la pagina */ 
.FondoMar{
    background-image: url("../Imagenes/Mar.jpeg"); /* URL de la imagen */
    width: 100%; /* El ancho de la casilla que contiene la imagen será del 100% de la pantalla */
    background-size: cover; /* La imagen cubre toda la pantalla */
    background-position: center; /* La imagen esta centrada */ 
    opacity: 79%; /* La opacidad de la imagen esta en un 79% */
    height:100vh; /* La imagen esta en toda la pantalla */
}

/* Como iremos paso a paso, diremos que hasta aqui la imagen de fondo esta bien */

/* Ahora trabajaremos sobre el titulo del portafolio. La idea es que quede sobrepuesta a la imagen */ 
.TituloPort{
    font-family: 'Alegreya Sans SC', sans-serif;
    color: black;
    text-shadow: 3px 3px 3px rgba(172, 141, 141, 0.904);
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    z-index: 1;
    padding-top: 1.7rem;
}

/* Como vamos yendo paso a paso con todo, diré que hasta aqui el titulo y la imagen de fondo esta ok. Vamos por lo demas */ 

/* Ahora, lo que haremos será traer una imagen de perfil y la pondremos al costado izquierdo de la pagina */ 
.FotoPerfil{
    position:absolute;
    height: auto;
    width: 25rem;
    top: 9rem;
    left : 3rem;
    z-index: 1;
    border-radius: 20%;
}

/* La foto de perfil esta bien posicionada, esta bonita, la niña tambien jajajaja, seguiremos con el texto que queremos que este al lado derecho de la foto. Pero HASTA AQUI TODO OK. */ 

.ResumenProfesional{
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.6rem;
    padding-right: 4rem;
}

/* El resumen profesional quedó en el centro alineado con la imagen. HASTA AQUI TODO OK. Ahora seguiremos con la presentacion de los proyectos. */
.TituloPort{
    font-family: 'Alegreya Sans SC', sans-serif;
    background-color: black;
    color: white;
}

.Proyectos{
    padding-top: 6rem;
    background-color: black;    
}



