/* El CV será en un principio, todo negro. Le iremos añadiendo colores a medida que lo vayamos formando */
body{
    background-color: black;
}

/* En esta class añadiremos formato al titulod el portafolio. */ 
.EstiloHeader{
    background-color: black;
    color:darkorange;
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.8rem;
} 
/* Tenemos listo el formato del titulo */ 


/* En el siguiente, ira el formato de la imagen. Recordemos que se trabajará en una misma fila, la imagen y los datos personales */
#FotoPerfil{
    padding-left: 4rem;
    width: 20rem;
    height: auto;
    padding-top: 2rem;
    float: left;
}

#FotoPerfil2{
    float:right;
    padding-right: 4rem;
    width: 20rem;
    height: auto;
    padding-top: 2rem;
    
}

/* Aqui estamos trabajando sobre el subtitulo "Resumen Profesional" y sobre cualquier etiqueta h3 */
h3{
    color:white;
    padding-left: 27rem;
    padding-top: 2rem;
    text-align: left;
    font-size: 1.8rem;
    font-family: 'Alegreya Sans SC', sans-serif;
}

/* Aqui estamos trabajando sobre los datos personales, principalmente el Resumen */
#Resumen{
    color:white;
    padding-left: 27rem;
    font-size: 1.3rem;
    padding-right: 1.3rem;
    font-family: 'Alegreya Sans SC', sans-serif;
}

#DatosPersonales{
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.3rem;
    padding-left: 30rem;
}

.TituloSegundaSection{
    background-color: rgb(90, 90, 90);
    color:white;
    padding-left: 27rem;
    margin-top: 13rem;
    font-size: 1.8rem;
    font-family: 'Alegreya Sans SC', sans-serif;
    padding-bottom: 2rem;
}

#ProyectosDesafioLatam{
    background-color: rgb(90, 90, 90);
    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: 20rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#Recorrido{
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.3rem;
    padding-left: 1.8rem;
}

#Contactame{
    background-color: rgb(90, 90, 90);
}


